swagger: '2.0'
info:
  version: v1
  title: Neoinix API Sales
  description: API erd
host: api.neoinix.com.br
securityDefinitions:
  sales_auth:
    type: oauth2
    tokenUrl: https://parceiro.neoinix.com.br/oauth2/token
    flow: application
    scopes:
      write: Permite modificar entidades na sua conta.
      read: Permite ler entidades na sua conta.
      company: Token da empresa usuaria dos sitemas NEOINIX deve usar company:tokenNeoinix
security:
  - sales_auth:
    - write
    - read
    - company
schemes:
  - https
basePath: /sales
tags:
- name: OrderDetails
  description: |
            Order Details

- name: OrderDetailsStatus
  description: |
            Order Details Status

- name: Orders
  description: |
            Orders

- name: OrdersStatus
  description: |
            Orders Status

- name: OrdersTaxStatus
  description: |
            Orders Tax Status

- name: Shippers
  description: |
            Shippers

- name: SalesReports
  description: |
            Sales Reports

paths:
  /OrderDetails:
    get:
      operationId: "OrderDetails_listAll"
      summary: Lista todos os registros de OrderDetails.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - OrderDetails
      parameters:
      - name: "order.id"
        in: "query"
        description: "Filtra registros por order usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "product.id"
        in: "query"
        description: "Filtra registros por product usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "quantity"
        in: "query"
        description: "Filtra registros por quantity"
        type: number
      - name: "unitPrice"
        in: "query"
        description: "Filtra registros por unitPrice"
        type: number
      - name: "discount"
        in: "query"
        description: "Filtra registros por discount"
        type: number
      - name: "status.id"
        in: "query"
        description: "Filtra registros por status usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "dateAllocated"
        in: "query"
        description: "Filtra registros por dateAllocated"
        type: string
      - name: "purchaseOrderId"
        in: "query"
        description: "Filtra registros por purchaseOrderId"
        type: integer
      - name: "inventoryId"
        in: "query"
        description: "Filtra registros por inventoryId"
        type: integer
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.OrderDetails'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "OrderDetails_create"
      summary: Cria um registro de OrderDetails.
      tags:
        - OrderDetails
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/sales.OrderDetails'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/sales.OrderDetails'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetails/count:
    get:
      operationId: "OrderDetails_count"
      summary: Retorna contagem dos registros de OrderDetails.
      tags:
        - OrderDetails
      parameters:
      - name: "order.id"
        in: "query"
        description: "Filtra registros por order usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "product.id"
        in: "query"
        description: "Filtra registros por product usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "quantity"
        in: "query"
        description: "Filtra registros por quantity"
        type: number
      - name: "unitPrice"
        in: "query"
        description: "Filtra registros por unitPrice"
        type: number
      - name: "discount"
        in: "query"
        description: "Filtra registros por discount"
        type: number
      - name: "status.id"
        in: "query"
        description: "Filtra registros por status usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "dateAllocated"
        in: "query"
        description: "Filtra registros por dateAllocated"
        type: string
      - name: "purchaseOrderId"
        in: "query"
        description: "Filtra registros por purchaseOrderId"
        type: integer
      - name: "inventoryId"
        in: "query"
        description: "Filtra registros por inventoryId"
        type: integer
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetails/{from}/{to}:
    get:
      operationId: "OrderDetails_listRange"
      summary: Lista os registros de OrderDetails por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - OrderDetails
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "order.id"
        in: "query"
        description: "Filtra registros por order usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "product.id"
        in: "query"
        description: "Filtra registros por product usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "quantity"
        in: "query"
        description: "Filtra registros por quantity"
        type: number
      - name: "unitPrice"
        in: "query"
        description: "Filtra registros por unitPrice"
        type: number
      - name: "discount"
        in: "query"
        description: "Filtra registros por discount"
        type: number
      - name: "status.id"
        in: "query"
        description: "Filtra registros por status usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "dateAllocated"
        in: "query"
        description: "Filtra registros por dateAllocated"
        type: string
      - name: "purchaseOrderId"
        in: "query"
        description: "Filtra registros por purchaseOrderId"
        type: integer
      - name: "inventoryId"
        in: "query"
        description: "Filtra registros por inventoryId"
        type: integer
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.OrderDetails'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetails/id/{value}:
    get:
      operationId: "OrderDetails_byId_read"
      summary: Retorna o respectivo registro de OrderDetails usando o ID da API.
      tags:
        - OrderDetails
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sales.OrderDetails'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "OrderDetails_update" 
      summary: Altera o respectivo registro de OrderDetails.
      tags:
        - OrderDetails
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/sales.OrderDetails'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetailsStatus:
    get:
      operationId: "OrderDetailsStatus_listAll"
      summary: Lista todos os registros de OrderDetailsStatus.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - OrderDetailsStatus
      parameters:
      - name: "statusName"
        in: "query"
        description: "Filtra registros por statusName"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.OrderDetailsStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "OrderDetailsStatus_create"
      summary: Cria um registro de OrderDetailsStatus.
      tags:
        - OrderDetailsStatus
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/sales.OrderDetailsStatus'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/sales.OrderDetailsStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetailsStatus/count:
    get:
      operationId: "OrderDetailsStatus_count"
      summary: Retorna contagem dos registros de OrderDetailsStatus.
      tags:
        - OrderDetailsStatus
      parameters:
      - name: "statusName"
        in: "query"
        description: "Filtra registros por statusName"
        type: string
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetailsStatus/{from}/{to}:
    get:
      operationId: "OrderDetailsStatus_listRange"
      summary: Lista os registros de OrderDetailsStatus por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - OrderDetailsStatus
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "statusName"
        in: "query"
        description: "Filtra registros por statusName"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.OrderDetailsStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrderDetailsStatus/id/{value}:
    get:
      operationId: "OrderDetailsStatus_byId_read"
      summary: Retorna o respectivo registro de OrderDetailsStatus usando o ID da API.
      tags:
        - OrderDetailsStatus
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sales.OrderDetailsStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "OrderDetailsStatus_update" 
      summary: Altera o respectivo registro de OrderDetailsStatus.
      tags:
        - OrderDetailsStatus
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/sales.OrderDetailsStatus'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Orders:
    get:
      operationId: "Orders_listAll"
      summary: Lista todos os registros de Orders.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - Orders
      parameters:
      - name: "employee.id"
        in: "query"
        description: "Filtra registros por employee usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "customer.id"
        in: "query"
        description: "Filtra registros por customer usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "orderDate"
        in: "query"
        description: "Filtra registros por orderDate"
        type: string
      - name: "shippedDate"
        in: "query"
        description: "Filtra registros por shippedDate"
        type: string
      - name: "shipper.id"
        in: "query"
        description: "Filtra registros por shipper usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "shipName"
        in: "query"
        description: "Filtra registros por shipName"
        type: string
      - name: "shipCity"
        in: "query"
        description: "Filtra registros por shipCity"
        type: string
      - name: "shipStateProvince"
        in: "query"
        description: "Filtra registros por shipStateProvince"
        type: string
      - name: "shipZipPostalCode"
        in: "query"
        description: "Filtra registros por shipZipPostalCode"
        type: string
      - name: "shipCountryRegion"
        in: "query"
        description: "Filtra registros por shipCountryRegion"
        type: string
      - name: "shippingFee"
        in: "query"
        description: "Filtra registros por shippingFee"
        type: number
      - name: "taxes"
        in: "query"
        description: "Filtra registros por taxes"
        type: number
      - name: "paymentType"
        in: "query"
        description: "Filtra registros por paymentType"
        type: string
      - name: "paidDate"
        in: "query"
        description: "Filtra registros por paidDate"
        type: string
      - name: "taxRate"
        in: "query"
        description: "Filtra registros por taxRate"
        type: number
      - name: "taxStatus.id"
        in: "query"
        description: "Filtra registros por taxStatus usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "status.id"
        in: "query"
        description: "Filtra registros por status usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.Orders'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "Orders_create"
      summary: Cria um registro de Orders.
      tags:
        - Orders
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/sales.Orders'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/sales.Orders'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Orders/count:
    get:
      operationId: "Orders_count"
      summary: Retorna contagem dos registros de Orders.
      tags:
        - Orders
      parameters:
      - name: "employee.id"
        in: "query"
        description: "Filtra registros por employee usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "customer.id"
        in: "query"
        description: "Filtra registros por customer usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "orderDate"
        in: "query"
        description: "Filtra registros por orderDate"
        type: string
      - name: "shippedDate"
        in: "query"
        description: "Filtra registros por shippedDate"
        type: string
      - name: "shipper.id"
        in: "query"
        description: "Filtra registros por shipper usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "shipName"
        in: "query"
        description: "Filtra registros por shipName"
        type: string
      - name: "shipCity"
        in: "query"
        description: "Filtra registros por shipCity"
        type: string
      - name: "shipStateProvince"
        in: "query"
        description: "Filtra registros por shipStateProvince"
        type: string
      - name: "shipZipPostalCode"
        in: "query"
        description: "Filtra registros por shipZipPostalCode"
        type: string
      - name: "shipCountryRegion"
        in: "query"
        description: "Filtra registros por shipCountryRegion"
        type: string
      - name: "shippingFee"
        in: "query"
        description: "Filtra registros por shippingFee"
        type: number
      - name: "taxes"
        in: "query"
        description: "Filtra registros por taxes"
        type: number
      - name: "paymentType"
        in: "query"
        description: "Filtra registros por paymentType"
        type: string
      - name: "paidDate"
        in: "query"
        description: "Filtra registros por paidDate"
        type: string
      - name: "taxRate"
        in: "query"
        description: "Filtra registros por taxRate"
        type: number
      - name: "taxStatus.id"
        in: "query"
        description: "Filtra registros por taxStatus usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "status.id"
        in: "query"
        description: "Filtra registros por status usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Orders/{from}/{to}:
    get:
      operationId: "Orders_listRange"
      summary: Lista os registros de Orders por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - Orders
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "employee.id"
        in: "query"
        description: "Filtra registros por employee usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "customer.id"
        in: "query"
        description: "Filtra registros por customer usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "orderDate"
        in: "query"
        description: "Filtra registros por orderDate"
        type: string
      - name: "shippedDate"
        in: "query"
        description: "Filtra registros por shippedDate"
        type: string
      - name: "shipper.id"
        in: "query"
        description: "Filtra registros por shipper usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "shipName"
        in: "query"
        description: "Filtra registros por shipName"
        type: string
      - name: "shipCity"
        in: "query"
        description: "Filtra registros por shipCity"
        type: string
      - name: "shipStateProvince"
        in: "query"
        description: "Filtra registros por shipStateProvince"
        type: string
      - name: "shipZipPostalCode"
        in: "query"
        description: "Filtra registros por shipZipPostalCode"
        type: string
      - name: "shipCountryRegion"
        in: "query"
        description: "Filtra registros por shipCountryRegion"
        type: string
      - name: "shippingFee"
        in: "query"
        description: "Filtra registros por shippingFee"
        type: number
      - name: "taxes"
        in: "query"
        description: "Filtra registros por taxes"
        type: number
      - name: "paymentType"
        in: "query"
        description: "Filtra registros por paymentType"
        type: string
      - name: "paidDate"
        in: "query"
        description: "Filtra registros por paidDate"
        type: string
      - name: "taxRate"
        in: "query"
        description: "Filtra registros por taxRate"
        type: number
      - name: "taxStatus.id"
        in: "query"
        description: "Filtra registros por taxStatus usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "status.id"
        in: "query"
        description: "Filtra registros por status usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.Orders'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Orders/id/{value}:
    get:
      operationId: "Orders_byId_read"
      summary: Retorna o respectivo registro de Orders usando o ID da API.
      tags:
        - Orders
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sales.Orders'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "Orders_update" 
      summary: Altera o respectivo registro de Orders.
      tags:
        - Orders
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/sales.Orders'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrdersStatus:
    get:
      operationId: "OrdersStatus_listAll"
      summary: Lista todos os registros de OrdersStatus.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - OrdersStatus
      parameters:
      - name: "statusName"
        in: "query"
        description: "Filtra registros por statusName"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.OrdersStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "OrdersStatus_create"
      summary: Cria um registro de OrdersStatus.
      tags:
        - OrdersStatus
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/sales.OrdersStatus'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/sales.OrdersStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrdersStatus/count:
    get:
      operationId: "OrdersStatus_count"
      summary: Retorna contagem dos registros de OrdersStatus.
      tags:
        - OrdersStatus
      parameters:
      - name: "statusName"
        in: "query"
        description: "Filtra registros por statusName"
        type: string
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrdersStatus/{from}/{to}:
    get:
      operationId: "OrdersStatus_listRange"
      summary: Lista os registros de OrdersStatus por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - OrdersStatus
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "statusName"
        in: "query"
        description: "Filtra registros por statusName"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.OrdersStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrdersStatus/id/{value}:
    get:
      operationId: "OrdersStatus_byId_read"
      summary: Retorna o respectivo registro de OrdersStatus usando o ID da API.
      tags:
        - OrdersStatus
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sales.OrdersStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "OrdersStatus_update" 
      summary: Altera o respectivo registro de OrdersStatus.
      tags:
        - OrdersStatus
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/sales.OrdersStatus'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrdersTaxStatus:
    get:
      operationId: "OrdersTaxStatus_listAll"
      summary: Lista todos os registros de OrdersTaxStatus.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - OrdersTaxStatus
      parameters:
      - name: "taxStatusName"
        in: "query"
        description: "Filtra registros por taxStatusName"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.OrdersTaxStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "OrdersTaxStatus_create"
      summary: Cria um registro de OrdersTaxStatus.
      tags:
        - OrdersTaxStatus
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/sales.OrdersTaxStatus'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/sales.OrdersTaxStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrdersTaxStatus/count:
    get:
      operationId: "OrdersTaxStatus_count"
      summary: Retorna contagem dos registros de OrdersTaxStatus.
      tags:
        - OrdersTaxStatus
      parameters:
      - name: "taxStatusName"
        in: "query"
        description: "Filtra registros por taxStatusName"
        type: string
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrdersTaxStatus/{from}/{to}:
    get:
      operationId: "OrdersTaxStatus_listRange"
      summary: Lista os registros de OrdersTaxStatus por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - OrdersTaxStatus
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "taxStatusName"
        in: "query"
        description: "Filtra registros por taxStatusName"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/sales.OrdersTaxStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /OrdersTaxStatus/id/{value}:
    get:
      operationId: "OrdersTaxStatus_byId_read"
      summary: Retorna o respectivo registro de OrdersTaxStatus usando o ID da API.
      tags:
        - OrdersTaxStatus
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/sales.OrdersTaxStatus'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "OrdersTaxStatus_update" 
      summary: Altera o respectivo registro de OrdersTaxStatus.
      tags:
        - OrdersTaxStatus
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
[...]
