swagger: '2.0'
info:
  version: v1
  title: Neoinix API Tenant
  description: API erd
host: api.neoinix.com.br
securityDefinitions:
  tenant_auth:
    type: oauth2
    tokenUrl: https://parceiro.neoinix.com.br/oauth2/token
    flow: application
    scopes:
      write: Permite modificar entidades na sua conta.
      read: Permite ler entidades na sua conta.
      company: Token da empresa usuaria dos sitemas NEOINIX deve usar company:tokenNeoinix
security:
  - tenant_auth:
    - write
    - read
    - company
schemes:
  - https
basePath: /tenant
tags:
- name: Company
  description: |
            Strings

- name: Application
  description: |
            Application that can be used by a company

- name: CompanyApplicationToken
  description: |
            Application that can be used by a company

paths:
  /Company:
    get:
      operationId: "Company_listAll"
      summary: Lista todos os registros de Company.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - Company
      parameters:
      - name: "name"
        in: "query"
        description: "Filtra registros por name"
        type: string
      - name: "databaseSchema"
        in: "query"
        description: "Filtra registros por databaseSchema"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/tenant.Company'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "Company_create"
      summary: Cria um registro de Company.
      tags:
        - Company
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/tenant.Company'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/tenant.Company'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Company/count:
    get:
      operationId: "Company_count"
      summary: Retorna contagem dos registros de Company.
      tags:
        - Company
      parameters:
      - name: "name"
        in: "query"
        description: "Filtra registros por name"
        type: string
      - name: "databaseSchema"
        in: "query"
        description: "Filtra registros por databaseSchema"
        type: string
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Company/{from}/{to}:
    get:
      operationId: "Company_listRange"
      summary: Lista os registros de Company por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - Company
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "name"
        in: "query"
        description: "Filtra registros por name"
        type: string
      - name: "databaseSchema"
        in: "query"
        description: "Filtra registros por databaseSchema"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/tenant.Company'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Company/id/{value}:
    get:
      operationId: "Company_byId_read"
      summary: Retorna o respectivo registro de Company usando o ID da API.
      tags:
        - Company
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/tenant.Company'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "Company_update" 
      summary: Altera o respectivo registro de Company.
      tags:
        - Company
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/tenant.Company'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Application:
    get:
      operationId: "Application_listAll"
      summary: Lista todos os registros de Application.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - Application
      parameters:
      - name: "name"
        in: "query"
        description: "Filtra registros por name"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/tenant.Application'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "Application_create"
      summary: Cria um registro de Application.
      tags:
        - Application
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/tenant.Application'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/tenant.Application'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Application/count:
    get:
      operationId: "Application_count"
      summary: Retorna contagem dos registros de Application.
      tags:
        - Application
      parameters:
      - name: "name"
        in: "query"
        description: "Filtra registros por name"
        type: string
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Application/{from}/{to}:
    get:
      operationId: "Application_listRange"
      summary: Lista os registros de Application por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - Application
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "name"
        in: "query"
        description: "Filtra registros por name"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/tenant.Application'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /Application/id/{value}:
    get:
      operationId: "Application_byId_read"
      summary: Retorna o respectivo registro de Application usando o ID da API.
      tags:
        - Application
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/tenant.Application'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "Application_update" 
      summary: Altera o respectivo registro de Application.
      tags:
        - Application
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/tenant.Application'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /CompanyApplicationToken:
    get:
      operationId: "CompanyApplicationToken_listAll"
      summary: Lista todos os registros de CompanyApplicationToken.
      description: |
          Limitado a 100 registros, para mais resultados usar o listRange em conjunto com count.
      tags:
        - CompanyApplicationToken
      parameters:
      - name: "company.id"
        in: "query"
        description: "Filtra registros por company usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "application.id"
        in: "query"
        description: "Filtra registros por application usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "token"
        in: "query"
        description: "Filtra registros por token"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/tenant.CompanyApplicationToken'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    post:
      operationId: "CompanyApplicationToken_create"
      summary: Cria um registro de CompanyApplicationToken.
      tags:
        - CompanyApplicationToken
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
              $ref: '#/definitions/tenant.CompanyApplicationToken'
      responses:
        '200':
          description: OK
          schema:
              $ref: '#/definitions/tenant.CompanyApplicationToken'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /CompanyApplicationToken/count:
    get:
      operationId: "CompanyApplicationToken_count"
      summary: Retorna contagem dos registros de CompanyApplicationToken.
      tags:
        - CompanyApplicationToken
      parameters:
      - name: "company.id"
        in: "query"
        description: "Filtra registros por company usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "application.id"
        in: "query"
        description: "Filtra registros por application usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "token"
        in: "query"
        description: "Filtra registros por token"
        type: string
      produces:
      - "application/json"
      responses: 
        '200': 
          description: OK 
          schema: 
              $ref: '#/definitions/CountResult' 
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /CompanyApplicationToken/{from}/{to}:
    get:
      operationId: "CompanyApplicationToken_listRange"
      summary: Lista os registros de CompanyApplicationToken por faixa de posição.
      description: |
          Observar que a faixa inicia em 0 e o limite máximo é de 100 itens retornados total.
          Deve ser usado em conjunto com o count para determinar qtos itens tem no total, e no seu aplicativo fazer o controle de paginas.
          Por exemplo, ao usar um determinado filtro o count retorna o valor de 240 itens, e no seu aplicativo usa 20 itens por pagina:
          A primeira pagina vai ser from = 0 e o to = 19
          A segunda pagina vai ser from = 20 e o to = 39
          e assim sucessivamente até ler toda a lista.
          ATENÇÃO para usar o mesmo filtro (query parameters) no count e no listRange para evitar divergencia no tamanho da lista, lembrando que a lista pode aumentar caso novos registros sejam inseridos no banco, durante a leitura paginada.
      tags:
        - CompanyApplicationToken
      parameters:
      - name: "from"
        in: "path"
        required: true
        type: "integer"
      - name: "to"
        in: "path"
        required: true
        type: "integer"
      - name: "company.id"
        in: "query"
        description: "Filtra registros por company usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "application.id"
        in: "query"
        description: "Filtra registros por application usando ID interno da API"
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
      - name: "token"
        in: "query"
        description: "Filtra registros por token"
        type: string
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/tenant.CompanyApplicationToken'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
  /CompanyApplicationToken/id/{value}:
    get:
      operationId: "CompanyApplicationToken_byId_read"
      summary: Retorna o respectivo registro de CompanyApplicationToken usando o ID da API.
      tags:
        - CompanyApplicationToken
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      produces:
      - "application/json"
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/tenant.CompanyApplicationToken'
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
    put:
      operationId: "CompanyApplicationToken_update" 
      summary: Altera o respectivo registro de CompanyApplicationToken.
      tags:
        - CompanyApplicationToken
      consumes:
      - "application/json"
      parameters:
      - name: "value"
        in: "path"
        required: true
        type: "integer"
        minimum: 0
        maximum: 2147483647
        format: int32
      - in: "body"
        name: "body"
        description: "Request body"
        required: true
        schema:
          $ref: '#/definitions/tenant.CompanyApplicationToken'
      responses:
        '200':
          description: OK
        '400':
          description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: "Cabeçalho de autenticação ausente/inválido ou token inválido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: "O token tem escopo incorreto ou uma política de segurança foi violada"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: "O recurso solicitado não existe ou não foi implementado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: "O consumidor tentou acessar o recurso com um método não suportado"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: "A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '422':
          description: "A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '423':
          description: "O recurso está bloqueado."
          schema:
            $ref: '#/definitions/ErrorResponse'
        '429':
          description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: "Ocorreu um erro no gateway da API ou no microsserviço"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '504':
          description: "GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido"
          schema:
            $ref: '#/definitions/ErrorResponse'
        '529':
          description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
          schema:
            $ref: '#/definitions/ErrorResponse'
definitions:
  IdReference:
    type: object
    properties:
      id:
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
  CountResult:
    type: object
    properties:
      count:
        type: integer
        minimum: 0
        maximum: 2147483647
        format: int32
  IdErpReference:
    type: object
    properties:
      idErp:
        type: string
  UuidReference:
    type: object
    properties:
      uuid:
        type: string
  ErrorResponse:
    type: object
    properties:
      code:
        type: integer
        minimum: 0
        maximum: 9999999999999
        format: int32
        description: |
            Código do erro
      message:
        type: string
        description: |
            Mensagem resumida sobre o erro
      description:
        type: string
        description: |
            Detalhes para melhor entendimento do erro
  tenant.Company:
    description: |
            Strings

    type: object
    properties:
      id:
        type: integer
        minimum: 0
        maximum: 9999999999999
        format: int64
        description: |
            ID para referência interna da API
      version:
        type: string
        format: date-time
        description: |
            Data e hora da versão do registro. Usado principalmente para sincronização e controle de lock otimista.
            Mantido pela API, não deve ser alterado, mas em caso de alterações deve ser copiado o valor recebido.
            Em inclusões deve vir vazio, ao gravar a API irá retornar a primeira versão.
            Em alterações deve vir o mesmo valor que verio no ultimo retorno de consulta do registro, ao gravar o sistema vai gerar um novo valor.
            Somente com o valor certo desse campo, que registros podem ser atualizados.
      name:
        type: string
        maxLength: 64
        pattern: \w*\W*
        description: |

      databaseSchema:
        type: string
        maxLength: 64
        pattern: \w*\W*
        description: |

  tenant.Application:
    description: |
            Application that can be used by a company

    type: object
    properties:
      id:
        type: integer
        minimum: 0
        maximum: 9999999999999
        format: int64
        description: |
            ID para referência interna da API
      version:
        type: string
        format: date-time
        description: |
            Data e hora da versão do registro. Usado principalmente para sincronização e controle de lock otimista.
            Mantido pela API, não deve ser alterado, mas em caso de alterações deve ser copiado o valor recebido.
            Em inclusões deve vir vazio, ao gravar a API irá retornar a primeira versão.
            Em alterações deve vir o mesmo valor que verio no ultimo retorno de consulta do registro, ao gravar o sistema vai gerar um novo valor.
            Somente com o valor certo desse campo, que registros podem ser atualizados.
      name:
        type: string
        maxLength: 64
        pattern: \w*\W*
        description: |

  tenant.CompanyApplicationToken:
    description: |
            Application that can be used by a company

    type: object
    properties:
      id:
        type: integer
        minimum: 0
        maximum: 9999999999999
        format: int64
        description: |
            ID para referência interna da API
      version:
        type: string
        format: date-time
        description: |
            Data e hora da versão do registro. Usado principalmente para sincronização e controle de lock otimista.
            Mantido pela API, não deve ser alterado, mas em caso de alterações deve ser copiado o valor recebido.
            Em inclusões deve vir vazio, ao gravar a API irá retornar a primeira versão.
            Em alterações deve vir o mesmo valor que verio no ultimo retorno de consulta do registro, ao gravar o sistema vai gerar um novo valor.
            Somente com o valor certo desse campo, que registros podem ser atualizados.
      company:
        description: |

        allOf:
          - $ref: '#/definitions/IdReference'
      application:
        description: |

        allOf:
          - $ref: '#/definitions/IdReference'
      token:
        type: string
        maxLength: 32
        pattern: \w*\W*
        description: |

